# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast

# Dotenv file
.env

# IntelliJ files
.idea/
*.iml

# VSCode files
.vscode

# Repomix files
testnet.txt
repomix-output.txt

# Other files
slither-results.sarif
node_modules
lcov.info
.DS_Store