# Compiler files
cache/
out/

# Node
node_modules

# Ignores broadcast logs
broadcast/

# Dotenv file
.env

# python
__pycache__/

# Temporary files
node_data/
user_data/

# Other
.vscode
.idea
*.iml
testnet.txt
repomix-output.txt
.DS_Store
slither-results.sarif
lcov.info

# Docs
docs/