# Copy / paste this to a file called .env in the root of the project
# and fill in the values. The values below are just examples.
# You can also export this to your terminal by running `export $(grep -v '^#' .env | xargs)`

# Private keys
DEPLOYER_PRIVATE_KEY=

# RPC endpoint for contract calls
RPC_URL=