# Copy / paste this to a file called .env in the root of the project
# and fill in the values. The values below are just examples.
# You can also export this to your terminal by running `export $(grep -v '^#' .env | xargs)`

# Private keys
DEPLOYER_PRIVATE_KEY="0x2a871d0798f97d79848a013d4936a73bf4cc922c825d33c1cf7073dff6d409c6"

# RPC endpoint for contract calls
RPC_URL="http://localhost:8545"